article {
  padding-left: 5%;
  width: 85em;

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .project-entry {

    .project-info {
      display: flex;
      flex-direction: column;
    }

    .project-image {
      width: 100%;
    }

  }

}

