article {
  padding-left: 5%;
  width: 85em;

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .project-entry {

    /*
      There is a hidden Angular Material element that I can't access
      here that is applying `justify-content: center` to my projects
      and I can't select it to disable it?!..

      Event `* {}` didn't work.
    */

    .project-info {
      display: flex;
      flex-direction: column;
    }

    .project-image {
      width: 100%;
    }

  }

}

