
<section id="bio">

  <mat-grid-list
    class="{{columnCount == 1 ? 'single-column' : ''}}"
    cols="{{columnCount}}"
    rowHeight="2:1">

    <mat-grid-tile rowspan="2">
      <img
        src="/assets/hillpicture.jpg"
        alt="Ben sat on a small hill with his dog" />
    </mat-grid-tile>

    <mat-grid-tile rowspan="2">

      <p>
        I am an autistic Software Engineer passionate
        about Angular, C# and Rust.
        I'm interested in the whole project lifestyle
        from inception through full-stack devleopment
        to deployment.
      </p>

      <p>
        Also interested in
        Electrical Engineering,
        Psychology,
        Philosophy,
        Language,
        History,
        Formula 1,
        Storytelling,
        Video Games,
        Teaching.
      </p>

    </mat-grid-tile>

  </mat-grid-list>

</section>
