
section#bio {
  display: flex;
  justify-content: center;
  align-items: center;

  mat-grid-list {
    width: 70%;

    &.single-column {
      width: 95%;

      mat-grid-tile {
        h2 {
          font-size: min(10vw, 3.25rem);
        }

        p {
          font-size: min(5vw, 1.5rem);
        }
      }
    }

    mat-grid-tile {
      ::ng-deep .mat-grid-tile-content {
        display: flex;
        flex-direction: column;
      }

      text-align: center;

      h2 {
        font-size: min(2.5vw, 2.5rem);
      }

      p {
        font-size: min(1.5vw, 1.5rem);
      }
    }
  }

  img {
    width: 80%;
  }
}
