
<section id="projects">


  <mat-grid-list
    cols="1">

    <mat-grid-tile>

      <app-project-entry
        projectName="Billiards"
        technologies="C++, olcPixelGameEngine"
        githubLink="https://github.com/BenTaylor25/Billiards"
        imgPath="assets/projects/BilliardsScreenshot.jpg">

        <p>
          Billiards was my A-Level Computer Science project.
          I was also studying Further Maths at the time, where Elastic Collisions
          in Two Dimensions was a topic that I wanted to get a head start on,
          so I chose to adopt it into my programming project.
          It was my first time using C++, and I had to find a suitable
          graphics / mouse-input library and implement rotation matrix logic in code.
        </p>

      </app-project-entry>

    </mat-grid-tile>

  </mat-grid-list>

</section>
