
<section id="projects">


  <mat-grid-list
    cols="1">

    <mat-grid-tile>

      <app-project-entry
        projectName="Billiards"
        technologies="C++, olcPixelGameEngine"
        githubLink="https://github.com/BenTaylor25/Billiards"
        imgPath="assets/projects/BilliardsScreenshot.jpg"
      >

        <p>
          Billiards was my A-Level Computer Science project.
          I was also studying Further Maths at the time, where Elastic Collisions
          in Two Dimensions was a topic that I wanted to get a head start on,
          so I chose to adopt it into my programming project.
          It was my first time using C++, and I had to find a suitable
          graphics / mouse-input library and implement rotation matrix logic in code.
        </p>

      </app-project-entry>

    </mat-grid-tile>

    <mat-grid-tile>

      <app-project-entry
        projectName="DSAVisualiser"
        technologies="Java, LibGDX"
        githubLink="https://github.com/BenTaylor25/DSAVisualiser"
        imgPath="assets/projects/DSAVisualiserScreenshot.jpg"
      >

        <p>
          At the end of my second semester at university, I was already looking ahead to
          the modules that I would be studying the following year.
          One of which was Data Structures and Algorithms - an extremely important topic
          for problem solving and interviews.
          I decided to make an interactive visualisation tool to help others on my course.
          I have since created a YouTube series on Data Structures and Algorithms which
          uses the application.
        </p>

      </app-project-entry>

    </mat-grid-tile>

  </mat-grid-list>

</section>
