
<header>
  <a>
    <h1>Ben Taylor</h1>
  </a>

  <!-- Hamburger Icon -->
  <div
    id="hamburger"
    (click)="toggleHamburger()"
    [ngClass]="{'hidden': !isMobile, 'active': isHamburgerActive}">

    <div class="hamburger-line" id="top"></div>
    <div class="hamburger-line" id="middle"></div>
    <div class="hamburger-line" id="bottom"></div>

  </div>

  <!-- Hamburger Menu -->
  <nav
    id="mobile-nav"
    [ngClass]="{'hidden': !isMobile, 'active': isHamburgerActive}">

    <section>
      <a>
        <p>Bio</p>
      </a>
      <a>
        <p>Work</p>
      </a>
      <a>
        <p>Projects</p>
      </a>
      <a>
        <p>Education</p>
      </a>
    </section>

  </nav>

  <!-- Standard Nav Menu -->
  <nav
    id="standard-nav"
    [ngClass]="{'hidden': isMobile}">

    <!-- TODO: Refactor nav above to switch between these views. -->
    <section>
      <a>Bio</a>
      <a>Work</a>
      <a>Projects</a>
      <a>Education</a>
    </section>

  </nav>
</header>
