@import "src/theme";

section#work {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;

  mat-grid-list {
    width: 90%;
    background-color: $theme-secondary;
    border-radius: 15px;
  }

}
