
<section id="hero">

  <!-- Refactor to use flex-layout? -->
  <!-- https://github.com/angular/flex-layout/wiki -->
  <!--
    flex-layout is a more popular alternative to
    mat-grid-list and it gives you more control of
    individual row heights. However I think I'm okay
    with the row heights now.
  -->

  <mat-grid-list
    class="{{columnCount == 1 ? 'single-column' : ''}}"
    cols="{{columnCount}}"
    rowHeight="2:1">

    <mat-grid-tile>
      <h2>Ben Taylor</h2>

      <div id="occupation-container">
        <p>Software Engineer and</p>
        <p>Computer Science Student</p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="2">
      <img
        src="/assets/presentation_2.jpg"
        alt="Ben speaking at a Java tutoring session" />
    </mat-grid-tile>

    <mat-grid-tile>
      <div id="technologies-container">
        <p>C#, TypeScript, Python,</p>
        <p>React, Angular</p>
      </div>

      <div id="social-media-container">
        <app-icon name="LinkedIn" />
        <app-icon name="GitHub" />
        <app-icon name="YouTube" />
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</section>
